:root {
  --branco-principal: #ffffff;
  --cinza-secundario: #c0c0c0;
  --botao-azul: #167bf7;
  --cor-de-fundo: #00030c;
  --font-principal: "Inter";
}

body {
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  font-family: var(--font-principal);
  font-size: 16px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

.principal {
  background-image: url("img/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__botao {
  border-radius: 3px;
  padding: 1em;
  background-color: var(--botao-azul);
  color: var(--branco-principal);
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
}

.botao_secundario {
  background-color: transparent;
  border: 2px solid var(--branco-principal);
}

.container__aviso {
  font-size: 13px;
  color: var(--cinza-secundario);
}

.container__titulo {
  font-size: 28px;
  font-weight: 700;
}

.container__imagem {
  margin: 1em 0 2em 0;
}

.container__caixa {
  margin: 0 6em;
}

.secundario__imagem {
  width: 80%;
}

.secundario {
  align-items: center;
  margin: 0 10em;
}

.descricao__titulo {
  font-weight: 700;
  font-size: 48px;
  color: var(--branco-principal);
  margin-bottom: 0.3em;
}

.descricao__texto {
  color: var(--cinza-secundario);
}

.secundario__botao {
  display: inline-block;
  margin-top: 1em;
  border-radius: 1em;
}

.container__descricao {
  padding: 2em;
}

.dispositivos__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 5em 0;
}

.dispositivos {
  text-align: center;
}

.dispositivos__titulo {
  font-size: 48px;
  color: var(--branco-principal);
}

.lista__item {
  font-size: 32px;
  color: var(--branco-principal);
}

.rodape {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 275px;
  right: 275px;
  margin-top: 130px;
}

.rodape__lista {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}

.lista__link {
  display: flex;
  padding: 0px;
  margin-left: 40px;
  justify-content: center;
  list-style-type: none;
}

.lista__link a {
  text-decoration: none;
  color: inherit;
}

.lista__link a:hover {
  color: var(--botao-azul);
}

.lista__link a:active {
  color: aqua;
}

.rodape__texto {
  margin-top: 25px;
  color: #c0c0c0;
}

.rodape__texto_fim {
  margin-top: 25px;
  color: #c0c0c0;
  margin-bottom: 100px;
}